.cabecalho{
    display: flex;
    height: 100px;
    background-color: rgb(122, 138, 204);
}

.cabecalho h1{
    margin-top: 0px
}

.cor{
    display: flex;
    height: 100px;
    background-color:rgb(122, 138, 204);
}
.home{
    display: flex;
    height: 100px;
    background-color:rgb(122, 138, 204); 
}
.fundo{
    display: flex;
    height: 576px;
    background-color:rgb(122, 138, 204); 
}

